In [ ]:
#1. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
import pandas as pd
obj1 = pd.Series([2, 4, 6, 8, 10])
obj2 = pd.Series([1, 3, 5, 7, 10])
print("Series 1:\n",obj1)
print("\nSeries 2:\n",obj2)
print("\nAddition:-")
add = obj1 + obj2
print(add)
print("\nSubtraction:-")
sub = obj1 - obj2
print(sub)
print("\Multiplication:-")
mul = obj1 * obj2
print(mul)
print("\Division:-")
div = obj1 / obj2
print(div)

Series 1:
 0     2
1     4
2     6
3     8
4    10
dtype: int64

Series 2:
 0     1
1     3
2     5
3     7
4    10
dtype: int64

Addition:-
0     3
1     7
2    11
3    15
4    20
dtype: int64

Subtraction:-
0    1
1    1
2    1
3    1
4    0
dtype: int64
\Multiplication:-
0      2
1     12
2     30
3     56
4    100
dtype: int64
\Division:-
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

In [ ]:
#2.Write a Pandas program to compare the elements of the two Pandas Series.
import pandas as pd
obj1 = pd.Series([2, 4, 6, 8, 10])
obj2 = pd.Series([1, 3, 5, 7, 10])
print("Series 1:\n",obj1)
print("\nSeries 2:\n",obj2)
print("\nComparing Series:")
print("\nChecking if equal:")
print(obj1 ==obj2)
print("\nChecking if greater than:")
print(obj1 > obj2)
print("\nChecking if less than:")
print(obj1 < obj2)

Series 1:
 0     2
1     4
2     6
3     8
4    10
dtype: int64

Series 2:
 0     1
1     3
2     5
3     7
4    10
dtype: int64

Comparing Series:

Checking if equal:
0    False
1    False
2    False
3    False
4     True
dtype: bool

Checking if greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool

Checking if less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
#3. Write a Pandas program to convert a dictionary to a Pandas series.
dc = {1: 10, 2:20, 3:30, 4:40, 5:50}
print("Original Dictionary: ",dc)
obj=pd.Series(dc)
print("Converted Dictionary:")
print(obj)

Original Dictionary:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
Converted Dictionary:
1    10
2    20
3    30
4    40
5    50
dtype: int64

In [ ]:
#4. Write a Pandas program to sort a given Series.
import pandas as pd
obj1 = pd.Series(['4','2','3.345',"hehehe"])
sort=pd.Series(obj1).sort_values()
print(sort)

1         2
2     3.345
0         4
3    hehehe
dtype: object

In [ ]:
#5. Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Series: ")
print(s)
print("\nSubset of above Series:")
n = 6
new_s = s[s < n]
print(new_s)

Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of above Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
#6. Pandas program to create the mean and standard deviation of the data of a given Series
import pandas as pd
ser=pd.Series([1,2,3,4,5,6,7,8,9])
print(ser.mean())
print(ser.std())

5.0
2.7386127875258306

In [10]:
#7. Pandas program to compute the minimum, median, mean and maximum of a given series
import pandas as pd
ser=pd.Series([1,2,3,4,5,6,7,8,9])
print("Mean is: ", ser.mean())
print("Max is: ", ser.max())
print("Min is: ", ser.min())
print("Median is: ", ser.median())

Mean is:  5.0
Max is:  9
Min is:  1
Median is:  5.0

In [15]:
#8. Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     3
1     2
2     2
3     1
4     2
5     1
6     2
7     1
8     3
9     4
10    1
11    4
12    4
13    1
14    3
dtype: int64
Top 2 Freq: 1    5
2    4
3    3
4    3
dtype: int64
0     Other
1     Other
2     Other
3         1
4     Other
5         1
6     Other
7         1
8     Other
9     Other
10        1
11    Other
12    Other
13        1
14    Other
dtype: object

In [17]:
#9. Convert the first and last letters to upper case
import pandas as pd
series1 = pd.Series(['php', 'python', 'java', 'c#'])
#To find the length of the word in a series
import pandas as pd
words = pd.Series(['Java', 'Kotlin',
                   'Python', 'Scala',
                    'Ruby'])
print("Given Series:")
print(words)

Given Series:
0      Java
1    Kotlin
2    Python
3     Scala
4      Ruby
dtype: object

In [18]:
#10. Pandas program to calculate the number of characters in each word in a given series
rst = words.map(lambda calc: len(calc))
print("No. of characters in each word in the given series:")
print(rst)
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

No. of characters in each word in the given series:
0    4
1    6
2    6
3    5
4    4
dtype: int64
Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object